/* Reset CSS */
body{
  font-family: "poppins", sans-serif;

}
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
  }
 
/* Style pour le texte "ENSEMBLE" */
.header-text {
  position: absolute;
  top: 8px; /* Ajuste la distance par rapport au haut */
  left: -83%; /* Ajuste la distance par rapport à la gauche */
  color: purple; /* Couleur violette */
  font-size: 2.5rem; /* Taille du texte */
  font-weight: bold; /* Rendre le texte gras */
  font-family: 'Poppins', sans-serif; /* Police de caractère */
  text-transform: uppercase; /* Met en majuscules */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
}
  
  /* Header Styles */

  .header {
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,10,0,7), rgba(4,9,10,0,7)),url("C:\Users\LYS BLEU\Html\Projet-culturel\Ressources\pexels-rethaferguson-3810832.jpg");
   background-position: center;
   background-size: cover;
   position: relative;
   overflow: hidden;
  }


.img-slider{
  min-height: 100vh;
  width: 100%;
 background-image: linear-gradient(rgba(0,0,0,0,5), rgba(0,0,0,0,5));
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  object-fit: cover;
 filter: brightness(70%);


}

nav{
  display: flex;
  padding: 15px 200px;
  justify-content:  space-between;
  align-items: center;
  height: 60px;
  bottom: 80px;
  top: 10px;
  right: 8px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
}


.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  top: 0;
 right: -30%;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(180, 84, 180);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;

}

.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 45px;

}

.text-box p{
  margin: 10px 0 40px;
  font-size: 15px;
  color: aliceblue;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;

}

.hero-btn:hover{
  border: 1px solid purple;
  background: purple;
  transition: 1s;
}
nav .fa{
  display: none;
}


@media ( max-width: 405px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }

  .nav-links {
    position: absolute;
    background: purple;
    height: 100vh;
    width: 180px;
    top: 0;
    right: -210px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  
  }
  .header-text {
    left: 8%;
    font-size: 2rem;
  }
nav .fa{
  display: block;
  color: #fff;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  }
  .nav-links ul {
      padding: 30px;
  }
}

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
 
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 31%;
  background: #B088D9;;
  border-radius: 10px;
  margin-top: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  margin-bottom: 5%;
}

h2{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
@media(max-width : 405px){
  .row{
    flex-direction: column;
  }
}

